* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

input,
button {
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-size: 18px;
  color: #c5e1e5;
  background-color: #f4f9fa;
}

.container {
  margin: 0 auto;
  max-width: 1480px;
  position: relative;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1128px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 639px) {
  .container {
    max-width: 300px;
  }
}

.header {
  background: #2a8086;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
  z-index: 1;
}

@media (max-width: 1199px) {
  .header {
    width: 100%;
    position: fixed;
  }
}

.header-wrapper {
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1919px) {
  .header-wrapper {
    padding: 19px 0;
  }
}

@media (max-width: 639px) {
  .header-wrapper {
    padding: 6px 0;
  }
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-right: 52px;
  display: block;
  width: 108px;
  height: 84px;
  background: url("../../../assets/svg/icon/logo-large.svg");
  z-index: 10;
}

@media (max-width: 1199px) {
  .header-logo {
    width: 49px;
    height: 38px;
    background: url("../../../assets/svg/icon/logo-small.svg") no-repeat;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .header-menu {
    display: none;
  }
}

.header-menu__item {
  position: relative;
  margin-right: 52px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__item.active {
  pointer-events: none;
}

.header-menu__item.active::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  border: 1px solid #c5e1e6;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-menu__item:hover:not(.active) {
  color: #0d444d;
}

@media (max-width: 1919px) {
  .header-menu__item {
    margin-right: 40px;
  }
}

.header-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-tool__input {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background: #c5e1e5;
  color: #0d444d;
  border-radius: 50px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1919px) {
  .header-tool__input {
    width: 160px;
  }
}

@media (max-width: 1199px) {
  .header-tool__input {
    display: none;
  }
}

.header-tool__item {
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 1919px) {
  .header-tool__item {
    display: none;
  }
}

.header-tool__item_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-tool__item_search:hover .header-tool__input {
  opacity: 100;
}

.header-tool__search {
  margin-right: 40px;
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../../assets/svg/icon/search-icon.svg") center center no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-tool__search:hover {
  -webkit-filter: invert(0.9);
          filter: invert(0.9);
}

@media (max-width: 1199px) {
  .header-tool__search {
    display: none;
  }
}

.header-tool__login {
  margin-right: 24px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-tool__login:hover {
  color: #0d444d;
}

.header-tool__singup {
  padding: 16px 14px;
  border: 1px solid #c5e1e5;
  border-radius: 60px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-tool__singup:hover {
  color: #0d444d;
  background: #c5e1e5;
}

.avatar {
  display: none;
  width: 56px;
  height: 56px;
  background: #b9d5d9 url("../../../assets/svg/icon/icons8-user.svg") center no-repeat;
  border-radius: 50%;
}

@media (max-width: 1919px) {
  .avatar {
    display: block;
  }
}

@media (max-width: 1199px) {
  .avatar {
    display: none;
  }
}

.burger {
  display: none;
  width: 35px;
  height: 35px;
  background: url("../../../assets/svg/icon/burger-menu.svg");
}

@media (max-width: 1199px) {
  .burger {
    display: block;
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 642px);
}

@media (max-width: 1919px) {
  .error {
    min-height: calc(100vh - 695px);
  }
}

@media (max-width: 1199px) {
  .error {
    min-height: calc(100vh - 498px);
  }
}

@media (max-width: 639px) {
  .error {
    min-height: calc(100vh - 470px);
  }
}

.h1 {
  display: none;
  position: absolute;
}

.title {
  padding: 124px 0 80px;
  margin-bottom: 15px;
  font-family: Sahitya;
  font-style: normal;
  font-weight: normal;
  font-size: 250px;
  line-height: 109px;
  text-transform: uppercase;
  color: #0d444d;
}

@media (max-width: 1199px) {
  .title {
    font-size: 220px;
  }
}

@media (max-width: 639px) {
  .title {
    font-size: 160px;
  }
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0d444d;
  margin-bottom: 36px;
}

@media (max-width: 639px) {
  .description {
    width: 259px;
    text-align: center;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 52px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  color: #f3f7f8;
  letter-spacing: -1px;
  text-transform: uppercase;
  background: #0d444d;
  border-radius: 100px;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button:hover {
  color: #0d444d;
  background: #2a8086;
  -webkit-box-shadow: 0px 2px 50px rgba(69, 86, 88, 0.6);
          box-shadow: 0px 2px 50px rgba(69, 86, 88, 0.6);
}

.animal-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 422px;
  background-image: url("../../../assets/svg/bg/zoos-background-1920.svg");
  background-size: 100% 489px;
  background-position: center bottom -87px;
  background-repeat: no-repeat;
}

@media (max-width: 1919px) {
  .animal-bg {
    background-size: cover;
  }
}

.bg-object {
  position: absolute;
}

.animal-bg-object__bamboo {
  left: 54vw;
  bottom: 154px;
  width: 147px;
  height: 280px;
}

@media (max-width: 1199px) {
  .animal-bg-object__bamboo {
    width: 122px;
    bottom: 50px;
  }
}

.animal-bg-object__panda {
  left: 49.4vw;
  bottom: 157px;
  width: 163px;
  height: 155px;
}

@media (max-width: 1199px) {
  .animal-bg-object__panda {
    bottom: 60px;
  }
}

@media (max-width: 639px) {
  .animal-bg-object__panda {
    width: 123px;
    left: 38.4vw;
  }
}

.animal-bg-object__tree1 {
  right: 5.1vw;
  bottom: 39px;
  width: 130px;
  height: 230px;
}

@media (max-width: 1199px) {
  .animal-bg-object__tree1 {
    display: none;
  }
}

.animal-bg-object__tree2 {
  left: 20.3vw;
  bottom: 154px;
  width: 130px;
  height: 230px;
}

@media (max-width: 1919px) {
  .animal-bg-object__tree2 {
    left: 8.3vw;
  }
}

@media (max-width: 1199px) {
  .animal-bg-object__tree2 {
    display: none;
  }
}

.animal-bg-object__pen {
  left: 30vw;
  bottom: 78px;
  width: 33px;
  height: 66px;
}

@media (max-width: 639px) {
  .animal-bg-object__pen {
    display: none;
  }
}

.footer {
  background: #196469;
}

.footer-wrapper {
  padding: 58px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1919px) {
  .footer-wrapper {
    padding: 19px 0;
  }
}

@media (max-width: 639px) {
  .footer-wrapper {
    padding: 23px 0 17px;
  }
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  margin-right: 75px;
  display: block;
  width: 108px;
  height: 84px;
  background: url("../../../assets/svg/icon/logo-large.svg");
  z-index: 10;
}

@media (max-width: 1919px) {
  .footer-logo {
    margin-right: 88px;
  }
}

@media (max-width: 1199px) {
  .footer-logo {
    width: 49px;
    height: 38px;
    background: url("../../../assets/svg/icon/logo-small.svg") no-repeat;
  }
}

@media (max-width: 639px) {
  .footer-logo {
    margin-left: 9px;
    margin-right: 0;
  }
}

.footer-copyright {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: right;
}

@media (max-width: 1919px) {
  .footer-copyright {
    max-width: 211px;
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 21px;
  }
}

@media (max-width: 1199px) {
  .footer-copyright {
    font-size: 10px;
    line-height: 16px;
  }
}

@media (max-width: 639px) {
  .footer-copyright {
    min-width: 176px;
  }
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .footer-menu {
    display: none;
  }
}

.footer-menu__item {
  margin-right: 52px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer-menu__item:last-child {
  margin-right: 0;
}

.footer-menu__item:hover {
  color: #0d444d;
}

@media (max-width: 1919px) {
  .footer-menu__item {
    margin-right: 24px;
  }
}
/*# sourceMappingURL=style.css.map */